@page "/grand3"

<h3>Grand3</h3>
<p>GrandValue:@_grandValue</p>
<input type="text" @bind-value="@_grandValue"/>

<CascadingValue Value="@_grandValue" Name="GrandValue">
    <Parent3 />
</CascadingValue>
@code {
    private string _grandValue = "GrandValue";
}